html, body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    transition: all .2s;
}

.text {
    background: #1C1C1C url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png") no-repeat 2px;
    background-size: 16px;
    outline: none;
    border: 0 none;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #ffffff;
    padding-left: 20px;
    -webkit-border-radius: 20px;
}

.text:focus {
    background: #F1F1F1 url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png") no-repeat 2px;
    background-size: 16px;
    outline: none;
    border: 0 none;
    font: bold 12px Arial, Helvetica, Sans-serif;
    /*margin-top: 8%;*/
    color: #1C1C1C;
}

.add-content {
    width: 65%;
    height: 50px;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 5px;
    padding-bottom: 10px;
}

.news-title, .news-content, .news-summary, #news-img {
    display: block;
    width: 98%;
    height: 30%;
    margin: 10px auto 0px;
    text-align: left;
    background: no-repeat 0px 0px white;
    border: 1px solid #F1F1F1;
    color: black;
    padding: 10px;
}

button {
    background-color: #ffffff;
    color: #1C1C1C;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 6px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 1px solid #C9C9C9;
}

button:hover {
    background: #F1F1F1;
    border: 1px solid #CCCCCC;
}

.home {
    margin-left: 10%;
    float: left;
}

.logout-link {
    display: block;
    color: #ffffff;
    float: right;
    padding: 12px;
}

.home:hover {
    color: #808080;
}

.fa-sign-in {
    float: right;
    color: #F1F1F1;
}

.fa-pencil-square-o {
    background: none;
    border: 0;
    padding-top: 14px;
    float: right;
    color: #F1F1F1;
}

.fa-chevron-down {
    color: #8f8f8f;
    float: right;
    border: none;
    margin-right: 10px;
    margin-top: 5px;
}

.fa-chevron-down:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
    float: right;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fa-pencil-square-o:hover, .fa-sign-in:hover, .logout-link:hover {
    cursor: pointer;
    color: #808080;
}

.black-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C1C1C;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

.fa-pencil-square-o:active {
    outline: none;
}

.new-post {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;

    background-color: #ffffff;
    min-width: 150px;
    padding: 15px;
    text-align: center;
    margin: 50px auto 0 auto;
    border-radius: 5px;
    z-index: 4;
    display: none;
    box-shadow: 0 0 5px 1px grey;
    box-sizing: border-box;
}

#modal-box-overlay, .abc {
    display: none;
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 3;
}

#btn-publish-article {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.24), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.news-tags {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #9D4E4E;
    box-sizing: border-box;
    height: 50px;
    padding: 10px 8px;
    position: relative;
    width: 98%;

}

.input-tag:focus {
    outline: none;
    color: #9D4E4E;
}

.news-tags::-webkit-input-placeholder {
    color: #AAA;
}

.news-tags:focus::-webkit-input-placeholder {
    color: #9D4E4E;
}

#btn-publish-article {
    display: block;
    background: no-repeat 10px 6px #9D4E4E;
    color: #ffffff;
}

.filter {
    float: right;
    margin-top: 30px;
    width: 20%;
    text-align: center;
    height: 280px;
}

.filter {
    margin-right: 20px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=datetime], input[type=date] {
    width: 60%;
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-article-list {
    width: 55%;
    background-color: #9D4E4E;
    color: white;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.header-tags {
    margin-top: 100px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #F1F1F1;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tags {
    text-align: center;
    background-color: white;
    padding-top: 1%;
    height: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.parameter {
    background-color: #F1F1F1;
    padding: 10px;
}

.tag {
    background-color: #f1f1f1;
    margin: 1%;
}

.dropdn {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 20px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 140px;
    /*font-size: 3rem;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content button {
    width: 100%;
    background: none;
    border: 0;
    text-align: left;
    color: #1C1C1C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdn:hover .dropdown-content {
    display: block;
}

.dropdn:hover {
    background-color: #ffffff;
}

.d_block {
    display: block;
}

.article-list-item {
    width: 60%;
    overflow: hidden;
    background-color: #ffffff;
    color: #1C1C1C;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow .25s;
    margin: 32px auto 0 10%;
}

.article-list-item:hover, .article-list-item:focus {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-list-item .article-list-item-date {
    float: right;
    margin-right: 2%;
}

.article-list-item hr {
    clear: both;
}

#article-list-item-image {
    height: auto;
    overflow: hidden;
    width: 100%;
    margin-top: -30%;
}

#article-list-item-image:hover {
    opacity: 0.8;
}

.article-list-item-title {
    padding: 0 2%;
    margin-top: 0;
    margin-bottom: 0;
}

.article-list-item-summary {
    padding: 0 2%;
}

.article-list-item-content {
    padding: 0 2%;
    display: none;
}

.article-list-item-author {
    padding: 0 2%;
}

.article-list-item-tags {
    padding: 0 2%;
    margin-top: 8px;
}

.article-list-item-tag {
    color: #8f8f8f;
    text-decoration: none;
    padding-right: 2%;
}

.article-list-item-tag:hover {
    cursor: pointer;
}

.tags[href="#"] {
    float: right;
    text-decoration: none;
}

.article-list-item .tag {
    background-color: #1C1C1C;
    color: #ffffff;
    height: 32px;
    padding: 0 12px;
    display: inline-block;
}

.article-list-item-btn {
    margin-bottom: 16px;
    margin-left: 2%;
}

.article-list-item-btn-back {
    display: none;
    margin-bottom: 16px;
    margin-left: 2%;
}

#pagination-show-more, #btn-show-filter {
    width: 50%;
    padding: 0.5% 5%;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    font-weight: 500;
    margin: 10px 0 0 10%;

}

.display-news {
    display: none;
    width: 80%;
    overflow: hidden;
    background-color: #ffffff;
    color: #1C1C1C;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow .25s;
    margin: 32px auto 0 10%;
}

#article-image {
    width: 100%;
    margin-top: -2%;
}

footer {
    background-color: #1C1C1C;
    height: 48px;
    text-align: right;
    margin-top: 16px;
    padding: 32px;
}

.project-name {
    color: #ffffff;
    display: table;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

.content {
    min-height: calc(100vh - 70px);
}

.sticky-footer {
    height: 64px;
}

form {
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    left: 50%;
    top: 50%;
    padding: 45px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    margin: 0 0 0 0;
    box-sizing: border-box;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

#btn-show-filter {
    display: none;
}

.login {
    display: none;
}

/* Mobile */

@media (max-width: 600px) {

    .filter {
        display: none;
        width: 90%;
        margin-bottom: 15px;
        margin-top: 5px;
        margin-right: 5%;
    }

    form {
        min-width: 200px;
    }

    .header-tags {
        display: none;
    }

    .tags {
        display: none;
    }

    .article-list-item {
        width: 90%;
        margin: 0 0 5% 5%;
    }

    .article-list-item:first-child {
        margin-top: 5%;
    }

    .home {
        margin-left: 0;
    }

    #pagination-show-more {
        width: 90%;
        padding: 0;
        margin: 0 0 0 5%;
    }

    #btn-show-filter {
        width: 90%;
        padding: 0;
        margin: 10px 0 5px 5%;
        display: block;
    }

    .home {
        float: left;
    }

    .dropbtn {
        display: none;
    }
}

/* Tablet */

@media (min-width: 601px) and (max-width: 769px) {

    .filter {

        display: none;
        width: 80%;
        margin-bottom: 15px;
        margin-top: 5px;
        margin-right: 10%;
    }

    .header-tags {
        display: none;
    }

    .tags {
        display: none;
    }

    .article-list-item {
        width: 80%;
    }

    #pagination-show-more, #btn-show-filter {
        width: 70%;
    }

    #btn-show-filter {
        display: block;
    }

    .home {
        float: left;
    }

}
